<section class="content">
  <%= display_notice %>
  <div class="content title">
    <h3><%= t('.establishments') %></h3>
    <%= link_to 'Crear nuevo', new_dashboard_establishment_path, class: 'button'  %>
  </div>
  <section id="establishments" class="content">
    <%= render partial: 'establishment', collection: @establishments %>
  </section>
</section>
