<div class="content">
  <%= display_alert %>
  <div class="content">
    <h3><%= t('.new') %></h3>
  </div>
  <div class="span7">
    <%= render partial: 'form', locals: { establishment: @establishment, address: @address , submit: t('.save') } %>
  </div>
</div>
