<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <p>
    <h3>Hola! <%= @user.nickname %></h3><br>
    Fuiste invitado a ordenar a un pedido que el usuario <b><%= @invitate %></b> a creado
    pinchea el link para poder ordenar:<br><br>
    <%= link_to 'Ir al pedido', "http://tacomanager.herokuapp.com/?invitation=#{@url_invitation}" %>
  </p>
  </body>
</html>

