* {
  @include box-sizing(border-box);
  color: $black;
}

body {
  font-family: 'Arial', sans-serif;
  background: image-url('background.jpg') repeat;
  margin: 0;
  overflow: auto;
}

.container {
  width: grid-width(12);
  overflow: hidden;
  margin: 0 auto;

  .span2 { @include columns(2); }
  .span3 { @include columns(3); }
  .span4 { @include columns(4); }
  .span5 { @include columns(5); }
  .span6 { @include columns(6); }
  .span7 { @include columns(7); }
  .span8 { @include columns(8); }
  .span9 { @include columns(9); }
  .span10 { @include columns(10); }
  .span11 { @include columns(11); }
  .span12 { @include columns(12); }

  .content {
    margin-left: $gw-gutter !important;
    overflow: hidden;
  }
}

.bar {
  width: 100%;
  height: 440px;
  background-color: #eee;
  margin-top: 50px;
}

form {
  margin: $margin;

  .field {
    margin-bottom: 10px;

    label {
      font-size: .9em;
      width: 100px;
      display: inline-block;

      &:after {
        content: ':';
      }
    }
  }

  .small {
    width: 80px !important;
  }

  .medium {
    width: 100px !important;
  }

  .field_with_errors {
    margin: 0;
    display: inline-block;

    input, textarea { 
      margin-right: ($margin / 4);
      border: 1px solid #e61820 !important; 
    }
  }

  input[type="text"] {
    border-radius: 3px;
    border: .1em solid #ccc;
    width: 200px;
    height: 25px;
    padding: 5px 4px;
  }

  .error-help {
    font-size: .6em;
    color: #e61820;
    display: inline-block;
  }

  .submit {
    margin-top: $margin;
    margin-left: 99px;
    float: left;

    a {
      float: left;
      margin-right: 10px !important;
      @include button(simple, #ff0000);
    }

    input[type="submit"] {
      float: right;
      @include button;
    }
  }
}

.notice {
  margin-left: $margin;
  margin-bottom: $margin;
  background-color: #1d9e22;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  font-size: .9em;
  border-radius: 3px;
  width: 612px;
}

.alert {
  margin-left: $margin;
  margin-right: $margin;
  margin-bottom: $margin;
  background-color: #ed595e;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  font-size: .9em;
  border-radius: 3px;
  width: 612px;
}

.button {
  @include button(simple, #f39b39);
  font-size: .8em;
}

.message {
  margin: 0;
  z-index: 1051;
  height: 53px;
  position: absolute;
  width: 100%;
  opacity: 0.6;
  color: #fff;
  display: none;
  padding: 13px;
  text-align: center;
  font-size: 130%;

  &.alert {
    background-color: #c12425;
  }

  &.notice {
    background-color: #1c962e;
  }
}
