* {
  @include box-sizing(border-box);
  color: $black;
}

body {
  font-family: 'Open sans', sans-serif;
  background: image-url('background.jpg') repeat;
  margin: 0;
  overflow: hidden;
}

.container {
  width: grid-width(12);
  overflow: hidden;
  margin: 0 auto;

  .span2 { @include columns(2); }
  .span3 { @include columns(3); }
  .span4 { @include columns(4); }
  .span5 { @include columns(5); }
  .span6 { @include columns(6); }
  .span7 { @include columns(7); }
  .span8 { @include columns(8); }
  .span9 { @include columns(9); }
  .span10 { @include columns(10); }
  .span11 { @include columns(11); }
  .span12 { @include columns(12); }

  .content {
    margin-left: $gw-gutter !important;
    overflow: hidden;
  }
}

.bar {
  width: 100%;
  height: 440px;
  background-color: #eee;
  margin-top: 50px;
}

