header {
  height: 68px;

  .menu {
    margin-left: 0 !important;

    ul {
      padding-left: 5px;
      font-size: .9em;
      font-weight: 400;
      list-style-type: none;
      margin-top: $margin;
      float: left;

      li {
        float: left;
        margin-right: ($margin / 4);

        &:after {
          content: '|';
          margin-left: ($margin / 4);
        }

        &:last-child:after {
          content: '';
        }
      }
    }

    a {
      display: inline-block;
      text-decoration: none;
    }
  }

  .mini-logo {
    background: image-url('mini-logo.png') no-repeat;
    width: 440px;
    height: 126px;
  }

  .user_avatar {
    float: left;
    width: 48px;
    height: 48px;
    margin-top: 10px;

  }

  .logout {
    font-size: .8em;
    position: absolute;
    margin-top: 22px;
    margin-left: 10px;
    font-weight: 300px;
  }

}

.bar-dashboard {
  padding-top: ($padding*3);
  padding-bottom: ($padding*2);
  width: 100%;
  height: auto;
  background-color: #eee;

  .dashboard {
    h3 {
      font-size: 2em;
      margin: 0 0 20px 20px;
    }

    h4 {
      margin: 0 0 10px 0;
      font-size: 1.2em;
    }

    .list-establishments, .list-orders {
      padding: 15px;
      width: 100%;
      background-color: #fff;
      height: 300px;
      border-radius: 5px;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .list-establishments {
      .establishment {
        width: 360px;
        background: #eee;
        margin: 0 10px 10px 0;
        padding: 10px;
        border-radius: 3px;

        h4 {
          margin: 0;
          font-size: 1em;
          font-weight: 200;

          a {
            text-decoration: none;
          }
        }
      }
    }

    .list-orders {
      .order {
        width: 190px;
        background: #eee;
        padding: 10px;
        border-radius: 3px;

        h4 {
          margin: 0;
          font-size: 1em;
          font-weight: 200;

          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.users {
  h3 {
    font-size: 1.2em;
  }
}

footer {
  @extend .container;
  height: 150px;
  color: #AD4D17;
  font-size: .7em;
  font-style: italic;

  .circles {
    background: image-url('circles.jpg') no-repeat;
    width: 113px;
    height: 30px;
    position: absolute;
    margin-left: ($margin * 2);
  }

  .text-description {
    margin-left: 170px;
    font-weight: bold;
    margin-top: 5px;
    color: #AD4D17;
  }

  .bottom-logo {
    background: image-url('bottom-logo.png') no-repeat;
    width: 235px;
    height: 105px;
    position: relative;
    float: right;
    margin-top: -20px;
  }
}

.message-empty {
  font-size: 1.3em;
  color: #ddd;
  font-weight: 300;
}
