.establishments {
  .title {
    margin-bottom: $margin;
  }

  .title-item {
    margin-bottom: $margin;

    h3 {
      font-size: 2em !important;
    }
  }

  .content {
    h3 {
      float: left;
      margin: 0;
      font-size: 1.5em;
    }

    a {
      float: right;
      margin-right: $margin;
    }

    .menu {
      font-size: 1.3em;
      margin: 0;
      margin-bottom: ($margin / 2);
    }
  }

  #establishments {
    height: 340px;
    overflow-y: scroll;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
  }

  #foods {
    @extend #establishments;
    width: 512px;
  }


  .establishment {
    float: left;
    width: 204px;
    background-color: #eee;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 3px;

    h4 {
      font-weight: 300;
      margin: 10px;
      float: left;

      a {
        text-decoration: none;
      }
    }

    p {
      float: left;
      font-size: .7em;
      margin: 0 10px;
      margin-bottom: 10px;
    }
  }

  .food {
    @extend .establishment;
    width: 218px;

    .price {
      float: right;
      font-size: .8em;
      margin: 5px;
      font-weight: bold;
    }

    .detail {
      width: 100%;
      float: left;
    }
  }

  #map {
    border-radius: 3px;
    width: 328px;
    height: 200px;
  }
}
