<%= display_notice %>
<%= display_alert %>
<h3>Bienvenido</h3>
<div class="span4 column">
  <div class="establishments">
    <%= render partial: 'establishment', collection: @establishments %>
  </div>
</div>
<div class="span3 column">
  <div class="order">
    <%= render partial: 'order', collection: @orders %>
  </div>
</div>
