<div class="food" data-food-id="<%= "#{food.id}" %>">
  <div class="detail">
    <h4><%= food.name %></h4>
    <div class="price"><%= number_to_currency(food.price, :unit => "$") %></div>
  </div>
</div>
