<div class="content">
  <%= display_alert %>
  <div class="content">
    <h3><%= t('.new_food') %></h3>
  </div>
  <div class="span7">
    <%= render partial: 'form', locals: { food: @food, url: dashboard_establishment_foods_path, submit: t('.save')  } %>
  </div>
</div>
